POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=trungphuna
POSTGRES_PASSWORD=root
POSTGRES_DB=doan_2023_nodejs_reactjs_banhang

JWT_SECRET=had112@121aAdadada
JWT_EXPIRATION_TIME=144000
URL_IMAGE=http://localhost:3001/api/v1/upload
URL_REDIRECT=http://localhost:3001/api/v1

#EMAIL
MAIL_HOST=smtp.gmail.com
MAIL_USER=codethue0707@gmail.com
MAIL_PASSWORD=gcgvlquwefekibiw
MAIL_FROM=crm@gmail.com

# optional
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@${MAIL_HOST}
